$max-container-width: 1400px;
$bg-color: hsl(0, 1%, 15%);
$body-color: hsl(77, 64%, 59%);

@mixin flex-between {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

img {
  display: block;
  max-width: 100%;
}

body {
  background-color: $bg-color;
  color: $body-color;
  display: grid;
  font-family: system-ui, sans-serif;
  margin: 0;
  min-height: 100dvh;
}

.container {
  margin-inline: auto;
  max-width: $max-container-width;
  width: calc(100% - 2em);
}

header {
  .container {
    @include flex-between();
  }

  .nav-brand {
    color: tomato;
    font-weight: 700;
    font-size: 3rem;
    text-decoration: none;
    font-family: cursive;
    font-style: italic;
    letter-spacing: 2px;
  }

  ul {
    display: flex;
    gap: 1em;
    list-style: none;
    padding-left: 0;

    a {
      color: pink;
      text-decoration: none;
      font-size: 1.1rem;
      font-weight: 600;
    }
  }
}

h1 {
  font-size: 5rem;
  margin-block-start: 0;
  text-align: center;

  span {
    color: darken($body-color, 25%);
    display: block;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
  }
}

main {
  img {
    box-shadow: -1em 1em 0 lighten($bg-color, 10%);
    margin-inline: auto;
  }
  p:first-of-type {
    margin-block-start: 3em;
  }
}

footer {
  text-align: center;
  margin-top: auto;

  p {
    font-size: 0.9rem;
    font-weight: 600;
  }
}
